---
import heroImage from '@assets/images/hero1.png';
import { Image } from '@astrojs/image/components';
import { BackgroundBeams } from './ui/background-beams';
import { SparklesCore } from './ui/sparkles';
import { TypewriterEffect } from './ui/typewriter-effect';

const introduction = "Hi! My name is Suman Khadka and I am a Software Engineer."
	const arr = introduction.split(" ").map((text) => {
		if(text === 'Suman' || text === 'Khadka'){
			return {
				text,
				className: "text-orange dark:text-orange"
			}
		}
		return {
			text,
		}
	})
---

<section
	data-testid="hero"
	class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row relative z-10"
>
<div class="w-full absolute inset-0 h-screen">
	<SparklesCore
	  id="tsparticlesfullpage"
	  background="transparent"
	  minSize={0.6}
	  maxSize={1.4}
	  particleDensity={100}
	  className="w-full h-full"
	  particleColor="#FFFFFF"
	  client:load
	/>
  </div>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl relative z-10">
				<TypewriterEffect words={arr} client:load/>

			</h1>
		</div>
	</div>

	<div data-testid="hero-img" class="hero-img mb-10 flex w-1/2 items-center justify-center relative z-10">
		<Image
			src={heroImage}
			alt="Coding girl"
			aspectRatio="4:4"
			format="png"
			width={600}
			height={600}
			loading="eager"
		/>
	</div>
<BackgroundBeams client:load/>
</section>
